@using System.Reflection
@using Cad.Data.Entidades
@model IEnumerable<TelefoneVM>
@if (Model == null)
{
    return;
}


@foreach (var telefone in Model)
{
    <div class="row rowtelefone">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Tipo de Telefone:</label>
                @Html.EnumDropDownListFor(s => telefone.TipoTelefone, new { @class = "form-control", name = "TipoTelefone" })
            </div>
        </div>
        <div class='col-md-1'>
            <div class="form-group">
                <label class="control-label">ddd:</label>
                <input type="text" name="ddd" class="form-control" placeholder="ddd" data-mask="00" value="@telefone.DDD" />
            </div>
        </div>
        <div class='col-md-3'>
            <div class="form-group">
                <label class="control-label">Nº Telefone</label>
                @{
                    string n = string.Empty;
                    if (telefone.Numero != string.Empty)
                    {
                        n = telefone.Numero.Substring(0, 4) + "-" + telefone.Numero.Substring(4, 4);
                    }
                }
                <input type="text" name="numero" class="form-control" placeholder="NºTelefone" data-mask="00000-0000" @n />
            </div>
        </div>
        <div class='col-md-4'>
            <div class="form-group">
                <label class="control-label">Melhor Horário para contato:</label>
                <input type="text" id="horariocontato1" name="horarioDeContato" class="form-control" placeholder="Melhor Horário" @telefone.HorarioDeContato />
            </div>
        </div>
        <div class="col-md-2">
            <div class="text-center telefone-excluir" title="Remover telefone">
                <span class="fa-stack fa-3x telefone-clicavel">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-times-circle fa-stack-1x fa-inverse"></i>
                </span>
            </div>
        </div>
    </div>
                    }