@{
    ViewBag.Title = "Funcionário";
}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    @Html.ActionLink("Novo Funcionário", "Novo", "Funcionario", null, new { @class = "btn btn-default" })
                </div>
            </div>
            <h1>
                Funcionários <small>Todos os funcionários cadastrados</small>
            </h1>
        </div>
    </div>
</div>