@{
    ViewBag.Title = "Funcionário";
}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    @Html.ActionLink("Novo Funcionário", "Novo", "Funcionario", null, new { @class = "btn btn-default" })
                </div>
            </div>
            <h1>
                Funcionários <small>Todos os funcionários cadastrados</small>
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="tabelaConsulta" class="table table-striped"></table>
    </div>
</div>


@section scripts {

    <script>

        $(function () {

            function operateFormatter(value, row, index) {
                return [
                    '<a href=' + CADUrl.funcionario.editar + ' title="Editar Funcionário"><i class="fa fa-pencil" aria-hidden="true"></i></a>',
                    '&nbsp;',
                    '<a href=' + CADUrl.funcionario.detalhar + ' title="Detalhar Funcionário"><i class="fa fa-info-circle" aria-hidden="true"></i></a>',
                    '&nbsp;',
                    '<a href=' + CADUrl.funcionario.excluir + ' title="Detalhar Funcionário"><i class="fa fa-trash" aria-hidden="true"></i></a>',
                   
                ].join('');
            }


            var data = [
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
                { nome: "Daniel", sobrenome: "Ferreira Ramos", CPF: "016.148.651-75", email: "ramos.danielferreira@gmail.com", telefone: "61 - 3387 9066" },
            ];

            var mensagemSemRegistro = "Nenhum registro foi encontrado.";
            $('#tabelaConsulta').bootstrapTable('refresh');
            var options = {
                pagination: "true",
                pageSize: 10,
                cache: false,
                pageList: "[5, 10, 25, 50]",
                sidePagination: "client",
                data: data,
                columns: [
                        {
                            title: 'Nome',
                            field: 'nome',
                            align: 'center',
                            valign: 'middle'
                        },
                        {
                            title: 'Sobrenome',
                            field: 'sobrenome',
                            align: 'center',
                            valign: 'middle'
                        },
                        {
                            title: 'CPF',
                            field: 'CPF',
                            align: 'center',
                            valign: 'middle'
                        },
                        {
                            title: 'Email',
                            field: 'email',
                            align: 'center',
                            valign: 'middle'
                        },
                        {
                            title: 'Telefone',
                            field: 'telefone',
                            align: 'center',
                            valign: 'middle'
                        },
                        {
                            title: 'Ações',
                            align: 'center',
                            valign: 'middle',
                            formatter: operateFormatter
                        }
                ],
                formatNoMatches: function () {
                    return mensagemSemRegistro;
                }
            };

            $('#tabelaConsulta').bootstrapTable(options);
        });

    </script>



}