@{
    Layout = null;
}


<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - CADSys</title>
    <meta name="description" content="CAD" />
    @Styles.Render("~/css")
</head>
<body class="bg-conta">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row meio">
           @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/js")
</body>
</html>